.container {
  position: relative;
  background-color: white;
  width: 100%;
  padding: 20px 0;
  max-width: 1460px;
  margin: 0 auto;
  margin-top: -48vh;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  padding: 10vh 0px;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
  box-shadow: 50px 50px 49.5px rgba(41, 41, 41, 0.0588235);
  backdrop-filter: blur(15px);
  .infoContainer {
    width: 40%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    .infoContainer__titles {
      height: 100%;
      margin-bottom: 10%;
      h1 {
        font-size: 50px;
        color: black;
        margin: 0;
        font-weight: 400;
        margin-bottom: 3%;
      }
      h3 {
        font-size: 38px;
        color: #8d8d8d;
        margin: 0;
        font-weight: 400;
      }
    }
    .infoContainer__text {
      p {
        color: black;
        font-size: 23px;
        line-height: 55px;
      }
    }

    .infoContainer__button {
      background-color: #f46632;
      color: white;
      border: none;
      border-radius: 10px;
      width: 390px;
      height: 70px;
      font-size: 24px;
      cursor: pointer;
      margin-top: 4vh;
      font-weight: 400;
    }
  }
  img {
    width: 35%;
  }
  .overlay {
    position: absolute;
    left: 8.5%;
    top: 29%;
  }
}

@media (max-width: 1500px) {
  .container {
    width: 95%;
  }
}

@media (max-width: 1024px) {
  .container {
    position: relative;
    background-color: white;
    width: 90%;
    padding: 3%;
    margin: 0 auto;
    margin-top: -45vh;
    border-radius: 10px;
    display: flex;
    align-self: center;
    align-self: center;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-evenly;
    .infoContainer {
      width: 100%;
      .infoContainer__titles {
        height: 100%;
        margin-bottom: 10%;
        h1 {
          font-size: 50px;
          color: black;
          margin: 0;
          font-weight: 500;
          margin-bottom: 3%;
        }
        h3 {
          font-size: 38px;
          color: #8d8d8d;
          margin: 0;
          font-weight: 500;
        }
      }
      .infoContainer__text {
        p {
          font-size: 18px;
        }
      }
    }
    img {
      margin-bottom: 20px;
      width: 60%;
    }
    .overlay {
      left: 5%;
      position: absolute;
      top: 55%;
      svg {
        width: 500px;
      }
    }
  }
}

@media (max-width: 700px) {
  .container {
    .infoContainer {
      width: 95%;
      .infoContainer__titles {
        height: 100%;
        margin-bottom: 10%;
        h1 {
          font-size: 40px;
          color: black;
          margin: 0;
          font-weight: 500;
          margin-bottom: 3%;
        }
        h3 {
          font-size: 36px;
          color: #8d8d8d;
          margin: 0;
          font-weight: 500;
        }
      }
      .infoContainer__text {
        p {
          line-height: 40px;
        }
      }

      .infoContainer__button {
        width: 100%;
      }
    }
    img {
      margin-bottom: 20px;
      width: 70%;
    }
    .overlay {
      position: absolute;
      left: 10%;
      top: 45%;
      svg {
        width: 300px;
      }
    }
  }
}
